body{
    background-color: #d5a5eb;
}
.heading{
    color: whitesmoke;
    background-color:black;
    width: 1100px;
    position:fixed;
    font-size: x-large;
    padding-left: 500px;
    padding-bottom:20px;
}
h2{
    font-size: x-large;
    background-color: rgb(160 210 234);
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
}
img{
    width: 500px;
    border: black solid 20px;
}
div{
    padding-top: 50px;
}
.photo1{
    padding-top: 200px;
}
.photo1>img{
    float: left;
}

.photo2>img{
    float: right;
}
.photo3>img{
    float: left;
}
@media(max-width:1000px){
    body{
        background-color:  rgb(160 210 234);
    }
    .heading{
        background-color: beige;
        color: black;
        padding-left: 190px;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 200px;
    }
    .photo1{
        justify-content: center;
    }
    h2{
        padding-right: 150px;
    }
}